process.env['NODE_ENV'] = "development"
process.env['API_URL'] = "http://api.commerce.com:3000"
process.env['DB_HOST'] = "localhost"
process.env['DB_USER'] = "root"
process.env['DB_PASSWORD'] = ""
process.env['DB_NAME'] = "commerce"